<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name> TPSuiviDesRepas</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletPoolConnexion</display-name>
    <servlet-name>ServletPoolConnexion</servlet-name>
    <servlet-class>fr.eni.dal.ServletPoolConnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletPoolConnexion</servlet-name>
    <url-pattern>/ServletPoolConnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletAjoutRepas</display-name>
    <servlet-name>ServletAjoutRepas</servlet-name>
    <servlet-class>fr.eni.servlets.ServletAjoutRepas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAjoutRepas</servlet-name>
    <url-pattern>/ServletAjoutRepas</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Ajout</display-name>
    <servlet-name>Ajout</servlet-name>
    <jsp-file>/WEB-INF/Ajout.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ajout</servlet-name>
    <url-pattern>/Ajout</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Accueil</display-name>
    <servlet-name>Accueil</servlet-name>
    <jsp-file>/WEB-INF/Accueil.html</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Accueil</servlet-name>
    <url-pattern>/Accueil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletVisualisationRepas</display-name>
    <servlet-name>ServletVisualisationRepas</servlet-name>
    <servlet-class>fr.eni.servlets.ServletVisualisationRepas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletVisualisationRepas</servlet-name>
    <url-pattern>/ServletVisualisationRepas</url-pattern>
  </servlet-mapping>
</web-app>